<h1>Employees</h1>

<table class="table table-striped" id="employees-table" >
  <thead>
    <tr>
    <th>Email</th>
    <th>Payment Amount</th>
    </tr>
  </thead>
  <tbody>
  <%= render @employees %>
  </tbody>
</table>