.pricing-header {
  @extend .section-header;
  margin-bottom: 20px;
}
.pricing-grid {
  @include clearfix();
}
.pricing-level {
  float: left;
  width: 50%;
  text-align: center;
  color: $brand-primary;

    &:first-child {
      border-right: 1px solid $gray-light;
    }
}
.pricing-subheader {

}
.pricing-price {
  font-size: 2.5em;
  font-weight: 300;
}
.pricing-currency {
  font-size: .6em;
}
.pricing-description {
  color: $gray-base;

  br {
    display: block;
    margin: -3px 0;
  }
}