.steps-section {

}

.steps-header {
  @extend .section-header;
  margin-bottom: 60px;
}
.steps-timeline {
  @include clearfix();
  margin-bottom: 20px;

  @media screen and (max-width: $break-steps) {
    border-left: 2px solid $brand-primary;
    margin-left: 25px;
  }

  @media screen and (min-width: $break-steps) {
    border-top: 2px solid $brand-primary;
    padding-top: 20px;
    margin-top: 50px;
    margin-left: 16.65%;
    margin-right: 16.65%;
  }
}
.steps-upload,
.steps-collect,
.steps-mail {

  @media screen and (max-width: $break-steps) {
    margin-left: -40px;
  }

  @media screen and (min-width: $break-steps) {
    float: left;
    width: 33%;
    margin-top: -60px;
  }
}
.steps-upload,
.steps-collect {
  @media screen and (max-width: $break-steps) {
    padding-bottom: 60px;
  }
}
.steps-upload {
  @media screen and (min-width: $break-steps) {
    margin-left: -16.65%;
    margin-right: 16.65%;
  }
}
.steps-collect {

}
.steps-mail {
  @media screen and (max-width: $break-steps) {
    margin-bottom: -100%;
  }
  @media screen and (min-width: $break-steps) {
    margin-left: 16.65%;
    margin-right: -16.65%;
  }
}

.steps-img {
  display: block;
  margin: auto;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 3.5em;
  background-color: $brand-primary;
  text-align: center;
  color: white;
  padding-top: 15px;

  @media screen and (max-width: $break-steps) {
    float: left;
    margin-right: 20px;
  }
}

.steps-name,
.steps-description {
  margin: 0;
}
.steps-name {
  text-transform: uppercase;
  color: $brand-primary;
  font-weight: 400;
  font-size: 1.2em;

  @media screen and (min-width: $break-steps) {
    text-align: center;
  }
}
.steps-description {
  overflow: hidden;

  @media screen and (min-width: $break-steps) {
    text-align: center;
  }
}
