<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "auth-form" }) do |f| %>
  <header>
    <img class="auth-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82016/zenforms-logo.svg" alt="" />
  </header>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "email" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send password reset", class: "auth-submit" %>
  </div>

  <footer>
    <ul class="auth-footer-links">
      <li class="auth-footer-link">
        <%= link_to "I Already Have an Account", new_user_session_path %>
      </li>
    </ul>
  </footer>
<% end %>
