<header class="header">

  <div class="container">

    <%= link_to root_path, class: "header-brand pull-left" do %>
      <%= image_tag "zenforms-logo-white.png", class: "header-logo", alt: "Zenforms" %>
    <% end %>

    <a href="#" class="header-account pull-right">
      <img src="" alt="" class="header-avatar">
      <span class="icon icon-chevron-down"></span>
    </a>

  </div>

</header>
