<header class="header">

  <div class="container">

    <a href="#" class="header-brand">
      <img class="header-logo" src="../img/zenforms-logo-white.png" alt="Zenforms">
    </a>

    <a href="#" class="header-account">
      <img src="" alt="" class="header-avatar">
      <span class="icon icon-chevron-down"></span>
    </a>

  </div>

</header>

<main class="main-content">

  <div class="container">

    <header class="content-header row">
      <nav class="col-md-8">
        <ul class="content-breadcrumb">
          <li class="content-breadcrumb-item"><a href="#">Contractors</a></li>
        </ul>
      </nav>
      <div class="col-md-4">
        <div class="content-search-group">
          <span class="content-search-addon">
            <span class="icon icon-search" aria-hidden="true"></span>
          </span>
          <input type="text" class="content-search-input" placeholder="Search for a Contractor">
        </div>
      </div>
    </header>

    <div class="action-bar">
      <div class="col-md-2">
        <a href="#" class="action-button">Mail 1099's</a>
      </div>
      <div class="col-md-10">
        <ul class="action-list">
          <li>
            <a class="action-list-item__add" href="#">Add New</a>
          </li>
          <li>
            <a class="action-list-item__edit" href="#">Edit 1099's</a>
          </li>
          <li>
            <a class="action-list-item__send" href="#">Send W-9's</a>
          </li>
          <li>
            <a class="action-list-item__delete" href="#">Delete</a>
          </li>
        </ul>
      </div>
    </div>

    <table class="contractor-list">
      <thead>
        <tr>
          <th>
            <input type="checkbox" />
          </th>
          <th>
            Name <span class="icon-chevron-down"></span>
          </th>
          <th>Email Address</th>
          <th>EOY Payout</th>
          <th class="contractor-status">W-9 Status</th>
          <th class="contractor-status">1099 Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>Bob Allen</td>
          <td>boballen@gmail.com</td>
          <td>$15,145.23</td>
          <td class="contractor-status__recieved">Recieved</td>
          <td class="contractor-status__not-sent">Not Sent</td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>Brittany Carpenter</td>
          <td>bcarpenter@theplace.com</td>
          <td>$15,145.23</td>
          <td class="contractor-status__recieved">Recieved</td>
          <td class="contractor-status__sent">Sent!</td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>Paul Clark</td>
          <td>paul.clark@othercompany.com</td>
          <td>$15,145.23</td>
          <td class="contractor-status__pending">Pending</td>
          <td class="contractor-status__not-sent">Not Sent</td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>Eugine Davis</td>
          <td>the-eugenester@yahoo.com</td>
          <td>$15,145.23</td>
          <td class="contractor-status__not-recieved">Not Recieved</td>
          <td class="contractor-status__not-sent">Not Sent</td>
        </tr>
      </tbody>
    </table>

  </div>

</main>

<footer class="footer">

  <div class="container">

    <hr class="footer-hr" />

    <ul class="footer-links">
      <li><a class="footer-link__help" href="#">Help</a></li>
      <li><a class="footer-link__contact" href="#">Contact</a></li>
    </ul>
    <div class="footer-copyright">&copy; 2014 Zenforms</div>

  </div>

</footer>
