<!-- HERO/CTA -->
<section class="hero-section">

  <div class="wrapper">

    <%= image_tag "zenforms-logo-blue.png", class: "hero-logo", alt: "Zenforms" %>

    <h1 class="hero-header">Mail Hundreds of 1099s<br />with One Click</h1>

    <form class="signup">

      <label for="signup-email" class="signup-label">Enter Your Email</label>
      <input type="email" id="signup-email" class="signup-email" name="email" placeholder="email@yourcompany.com" />
      <button id="js-signup-submit" class="signup-submit">Get Started for Free</button>

    </form>

    <a href="#Pricing" class="hero-pricing">
        Pricing plans starting at just $3
    </a>

    <a href="#Steps" class="hero-next"></a>

  </div><!-- /.wrapper -->


</section>

<!-- STEPS -->
<section id="Steps" class="steps-section">

  <h2 class="steps-header">
    The Easiest Way to Send 1099s
  </h2>

  <div class="steps-timeline">

    <div class="steps-upload">
      <span class="steps-img icon icon-upload"></span>
      <h3 class="steps-name">
        Upload
      </h3>
      <p class="steps-description">
        Upload a CSV file of your contractors
      </p>
    </div>

    <div class="steps-collect">
      <span class="steps-img icon icon-user-group"></span>
      <h3 class="steps-name">
        Collect
      </h3>
      <p class="steps-description">
        Electronically collect W-9 information
      </p>
    </div>

    <div class="steps-mail">
      <span class="steps-img icon icon-envelope-stack"></span>
      <h3 class="steps-name">
        Mail
      </h3>
      <p class="steps-description">
        Send 1099s in the mail with one click
      </p>
    </div>

  </div><!-- /.steps-timeline -->

</section>

<!-- PRICING -->
<section id="Pricing" class="pricing-section">

  <div class="wrapper">

    <h2 class="pricing-header">Super Simple Pricing</h2>

    <div class="pricing-grid">

      <div class="pricing-level">
        <h3 class="pricing-subheader">Free</h3>
        <h4 class="pricing-price"><sup class="pricing-currency">$</sup>0</h4>
        <small class="pricing-description">Up to 3<br />contractors</small>
      </div>

      <div class="pricing-level">
        <h3 class="pricing-subheader">Pro</h3>
        <h4 class="pricing-price"><sup class="pricing-currency">$</sup>3</h4>
        <small class="pricing-description">Per<br />contractor</small>
      </div>

    </div>

  </div><!-- /.wrapper -->

</section>

<!-- FOOTER/QUESTIONS -->
<section id="Questions" class="questions-section">

  <div class="wrapper">

    <h2 class="questions-header">Still Have Questions?</h2>

    <ul class="questions-icon-list">
      <li>
        <span class="questions-icon icon icon-twitter-outline"></span>
      </li>
      <li>
        <span class="questions-icon icon icon-facebook-outline"></span>
      </li>
      <li>
        <span class="questions-icon icon icon-envelope-outline"></span>
      </li>
    </ul>

    <small class="questions-copyright">&copy;2014 Zenforms</small>

  </div><!-- /.wrapper -->

</section>
