# PostgreSQL. Versions 8.2 and up are supported.
#

default: &default
  timeout: 5000
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  host: localhost
  database: zenforms_development
  username:
  password:

test:
  <<: *default
  host: localhost
  database: zenforms_test

production:
  <<: *default
  database: zenforms_production
  username: zenforms
  password: <%= ENV['ZENFORMS_DATABASE_PASSWORD'] %>
