/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dropzone/basic
 *= require style
 *= require landing-page
 *= require devise
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html,
body {
  min-height: 100%;
}

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

*, *:before, *:after {
  -moz-box-sizing: inherit;
       box-sizing: inherit;
}

abbr {
  cursor: help;
}
