/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require dropzone/basic
 *= require bootstrap_and_overrides
 *= require style
 *= require landing-page
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html,
body {
  min-height: 100%;
}

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

*, *:before, *:after {
  -moz-box-sizing: inherit;
       box-sizing: inherit;
}

body:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  height: 275px;
  /* IE10 Consumer Preview */
  /* Mozilla Firefox */
  /* Opera */
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.005, #77bde4), color-stop(0.5, #FFFFFF));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #77bde4 0.5%, #FFFFFF 50%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #77bde4 0.5%, #FFFFFF 50%);
}

abbr {
  cursor: help;
}
