// Place all the styles related to the EmployeesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#employee-import {
  .dz-details {
    width: inherit;
    height: inherit;
  }
}

#import-errors {
  max-height: 150px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

#employees-table {
  margin-top: 10px;
  th.unused, td.unused, tr.unused td {
    background-color: #C9C9C9 !important;
    border: none !important;
    opacity:0.4;
    filter:alpha(opacity=40);
  }
  tfoot {
    display: none;
    tr td{
      text-align: center;
      background-color: #eee;
      color: #888;
    }
  }
}
